# API Configuration
VITE_API_PORT=<port for restful connection to langgraph server>

# WebSocket Configuration
VITE_WS_PORT=<port for websocket connection to langgraph server>

# LangGraph Configuration
VITE_LANGGRAPH_HOST=<langgraph host>
