# API Configuration
API_PORT=<port for restful connection to langgraph server>

# WebSocket Configuration
WS_PORT=<port for websocket connection to langgraph server>

# LangGraph Configuration
LANGGRAPH_HOST=<langgraph host>
